@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<html>
<head>
    <title>To Do List</title>
</head>
<body>-->
    <h2>To Do List</h2>
    <ul>
        @foreach (var listItem in Model)
        {
            @listItem.Description <a asp-area="" asp-controller="Items" asp-action="Index" asp-route-id="@listItem.ItemId">Edit</a>
        }
    </ul>
<form asp-controller="Items"
      asp-action="Inject"
      asp-route-id="7"
      method="post">
    <input type="hidden" name="ItemId" value="@Model[0].ItemId" />
</form>



<!--
</body>
</html>
    -->