@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<html>
<head>
    <title>To Do List</title>
</head>
<body>-->
    <h2>To Do List</h2>
    <ul>
        @foreach (var listItem in Model["items"])
        {
            <p>@listItem.Description</p>
        }
    </ul>
<!--
</body>
</html>
    -->