@using System.Threading.Tasks
@using MTest.Services
@model  MTest.ViewModels.ItemViewModel
@inject ItemService Options
<!DOCTYPE html>
<html>
<head>
    <title>Item Input</title>
</head>
<body>
    <div>
        <h1>Item Input</h1>
        <br />
        Category: @Html.DropDownListFor(m => m.CategoryId,
           Options.GetCategories().Select(g =>
                new SelectListItem() { Text = g.Name, Value = g.CategoryId.ToString() }))


        <br />
        Task: @Html.DropDownList("Items",
           Options.GetItems().Select(g =>
                new SelectListItem() { Text = g.Description, Value = g.ItemId.ToString() }))

        <br />
        <p>tagHelpers: </p>
        @*<select asp-for="CategoryId" asp-items=Options.GetCategories().Select(g =>
                new SelectListItem() { Text = g.Name, Value = g.CategoryId.ToString() })*@

    </div>
    <form method="post">
        
        <label asp-for="Description">Description</label>
        <input asp-for="Description"/>
        <select asp-for="CategoryId" asp-items="Options.GetCategories().Select(g =>
                new SelectListItem() { Text = g.Name, Value = g.CategoryId.ToString() })"></select>
        <div>
            <input type="submit" value="Save Item" />
        </div>

    </form>
</body>
</html>