<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="" asp-action="Index" class="navbar-brand">Stack Overflow Clone</a>
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Index">Users</a></li>
                    <li><a asp-area="" asp-controller="Question" asp-action="Index">Your Questions</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a>Hi:@User.Identity.Name!</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="LogOff">Log out</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
                    }

                </ul>
            </div>

        </div>
    </div><br /><br /><br />
    <div>
        @RenderBody()
    </div>
</body>
</html>
